body {
    font-family: Inter, sans-serif;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 35px;
    margin-top: 4px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
}

/*Connecting*/
.Connecting {
    box-sizing: border-box;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
    padding-top: 3px;
    padding-right: 20px;

}

.info {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #656464;
}

.discover-button {
    position: absolute;
    bottom: 0;
    display: inline-block;
    background-color: #217BF4;
    color: #FFFFFF;
    border-radius: 14px;
    padding: 18px 28px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    box-shadow: #217BF442;
}

.arrowWight {

    padding-left: 8px;
    display: inline-flex;
}

/*end of Connecting*/

/* main */
.main {
    text-align: center;
    text-justify: inter-word;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.main-p {
    color: #656464;
    font-size: 16px;
}

/*cards*/
.card-wrapper {
    display: flex;
    margin-left: 9.3%;
    margin-top: 45px;
}

.card {
    border: 1px solid #5E5E5E28;
    border-radius: 14px;
    margin-right: 22px;
    padding: 20px 30px;
    box-sizing: border-box;
    box-shadow: -6px 12px 24px 2px #92A5B824;
    transition: box-shadow 3s;
}

.card:hover {
    box-shadow: none;
}

.title {
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #5D5B70;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

/*people img*/
.person-img {
    width: 22px;
    height: 22px;
    border: 1px solid #fff;
    object-fit: cover;
}

.boy1 {
    position: relative;
    border-radius: 50%;
}

.boy2 {
    position: relative;
    left: -11px;
    border-radius: 50%;
}

.boy3 {
    position: relative;
    left: -22px;
    border-radius: 50%;

}

/*end people img*/
.highlight {
    color: #217BF4;
    font-weight: 600;
}

.content {
    font-size: 12px;
    color: #8C8C8C;
    margin-bottom: 30px;
}

.link {
    color: #217BF4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 4px;
    display: flex;
    text-align: center;
}

.link:hover {
    color: #5D5B70;
}

.link:active {
    color: #5D5B70;
}

.github-logo {
    margin-top: auto;
    border: 1px solid #FFFFFF;
    box-shadow: none;
    padding-right: 14px;
}

.trophy {
    background-image: url("photos/Trophy.svg");
    background-repeat: no-repeat;
    height: 22px;
    width: 28px;
    padding-right: 16px;
}

.star {
    background-image: url("photos/Star.svg");
    background-repeat: no-repeat;
    height: 25px;
    width: 26px;
    padding-right: 16px;
}

.go-to {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: baseline;
    color: #217BF4;
}

.go-to:hover .ArrowRight {
    background-image: url("photos/Arrowgrey.svg");
}

.link:hover {
    color: #5D5B70;
}

.ArrowRight {
    background-image: url("photos/ArrowRight.svg");
    width: 10px;
    height: 8px;
}

.link:active {
    color: #5D5B70;
}

/* feature cards */

.feature-background {
    background: linear-gradient(0deg, rgba(241, 246, 253, 0.03) 12%, rgba(241, 246, 253, 1) 26%, rgba(241, 246, 253, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

.feature-card-wrapper {
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.feature-card {
    padding: 40px;
    width: 35%;
    border-radius: 14px;
    background: #FFFFFF;
}

.feature-card-header {
    display: flex;
    position: absolute;
}
.feature-card:hover {
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}

/* end of feature cards */

/* feature content */

.feature-title {
    color: #2F2C4A;
    font-size: 24px;
    font-weight: bold;
    font-family: inter, sans-serif;
    margin: 0;
}


.feature-content {
    position: relative;
    color: #656464;
    font-size: 16px;
    margin-top: 39px;
    margin-left: 100px;
}

/* end of feature content */


/* start of feature icons */
.icon-wrapper {
    padding-right: 36px;
}

.blue-people {
    background-image: url("photos/1 icon.svg");
    width: 66px;
    height: 66px;
}

.red-people {
    background-image: url("photos/2 icon.svg");
    width: 66px;
    height: 66px;
}

.yellow-icon {
    background-image: url("photos/3 icon.svg");
    width: 66px;
    height: 66px;
}

.blue-icon {
    background-image: url("photos/4 icon.svg");
    width: 66px;
    height: 66px;
}

.red-icon {
    background-image: url("photos/5 icon.svg");
    width: 66px;
    height: 66px;
}

.orange-icon {
    background-image: url("photos/6 icon.svg");
    width: 66px;
    height: 66px;
}


/* end of feature card */

/* start of buttons triada */
.member-switch-wrapper {
    border: none;
    color: #2F2C4A;
    border-radius: 14px;
    margin-right: auto;
    margin-left: auto;
    width: 474px;
    height: 72px;
    background: #F2F7FE;
    display: flex;
    justify-content: center;
}

.member-button {
    padding: 30px 57px;
    border: none;
    background-color: #F2F7FE;
    border-radius: 14px;
}

.active-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    background-color: #217BF4;
    color: #FFFFFF;
    border-radius: 14px;
    margin: auto;
    margin-right: 6px;
    text-decoration: none;
    font-weight: 500;
}

/* end of buttons triada */

/* Valuable members card */

.valuable-teamCard {
    padding: 0 12% 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 44px;
}

.member-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 14px;
    width: 179px;
    height: 226px;
    background: #FFFFFF;
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}

.member-card:hover {
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}

.member-text-card {
    margin: auto;
    font-family: Inter, sans-serif;
    text-align: center;
}

.member-card-title {
    font-size: 16px;
    font-weight: bold;
}

.member-card-content {
    font-size: 10px;
    color: #656464;
}

.member-icon {
    padding-left: 21px;
    display: flex;
}

/* footer navigation */

.footer-nav {
    padding: 0 12%;
    left: 0;
    right: 0;
    background-color: #2B2B39;
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    flex-direction: column;
}

.footer-list {
    font-size: 12px;
    font-weight: 200;
}

.list-title {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 0;
}

.footer-nav a {
    color: #E7E7E7;
    display: block;
    flex-wrap: wrap;
    text-decoration: none;
    padding-bottom: 20px;

}

.list-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.subscribe-article {
    color: #FFFFFF;
    position: relative;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.email-form {
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
}

.email-form:focus-within {
    outline: 1px solid #FFFFFF;
}

.email-info {
    font-family: Inter, sans-serif;
    padding-top: 18px;
    padding-left: 0;
    text-align: start;
    font-size: 10px;
}

label[for="email"] {
    visibility: hidden;
    opacity: 0;
}

#email {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: transparent;
    height: 48px;
    width: 100%;
    border: none;
    padding-left: 24px;
}

.email-submit {
    background: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 12px;
    width: 126px;
}

.footer-logos {
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: 96px;
    background: #20202D;
}

.social-logos img {
    margin-left: 8px;
}
@media (max-width: 1020px) {
    .feature-card {
        width: 100%;
    }

}
@media (max-width: 640px) {
    * {
        box-sizing: border-box;
    }

    .title {
        gap: 20px;
    }

    .title,
    .subtitle {
        margin-bottom: 20px;
    }

    h1 {
        font-weight: 700;
        font-size: 25px;
    }

    .Connecting {
        width: 100%;
        height: auto;
        margin: 0;
        padding-right: 0;
        text-align: left;
    }
    .discover-button {
        position: static;
    }
    .card {
        width: 100%;
        margin-bottom: 35px;
        padding: 15px;
        height: auto;
    }

    .card-wrapper {
        display: block;
        padding: 15px 25px 0;
        margin: 0;
    }

    .feature-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 25px 3%;
        min-height: 120px;
        height: auto;
    }

    .feature-card:last-of-type {
        margin-bottom: 0;
    }

    .feature-card-wrapper {
        width: 100%;
        padding: 0 15px;
    }

    .feature-card-header {
        display: flex;
        position: static;
        align-items: center;
    }

    .icon-wrapper {
        padding-right: 8px;
    }

    .feature-icon {
        width: 30px;
        height: 30px;
        background-size: contain;
    }

    .feature-title {
        font-size: 18px;
    }

    .feature-content {
        font-size: 14px;
        margin: 0;
        margin-top: 5px;
    }
    .main{
        margin-top: 40px;
    }
    .member-button {
        padding: 25px;
        font-size: 16px;
    }
    .member-switch-wrapper {
        font-size: 20px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .active-button {
        width: auto;
        margin: 0;
        font-size: 16px;
    }
    .member-icon {
        padding-left: 0;
    }
    .valuable-teamCard {
        padding: 0;
        justify-content: space-evenly;
    }
    .member-card {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        height: auto;
        width: 35vw;
        min-width: 120px
    }
    .team-group {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .member-card-title {
        font-size: 12px;
    }
    .member-text-card {
        margin: 0;
    }
    .img-members {
        width:100px;
    }

    .subscribe-article {
        margin: 9px 0;
    }
    .list-title {
        margin-top: 9px;
    }
    .footer-logos {
        padding: 0 5%;
    }
    .footer-info {
        font-size: 12px;
        width: min-content;
    }

    .netbook {
        width: 100px;
    }
    .social-logos img {
        width: 24px;
    }
}
